## Nested Dictionaries

In [ ]:
myfamily = {"child_1": {"name": "Emily", "Year": 2004},
            "child_2": {"name": "Tobias", "Year": 2007},
            "child_3": {"name": "Linus", "Year": 2011}}
myfamily

In [3]:
print(myfamily .items())

dict_items([('child_1', {'name': 'Emily', 'Year': 2004}), ('child_2', {'name': 'Tobias', 'Year': 2007}), ('child_3', {'name': 'Linus', 'Year': 2011})])

In [4]:
myfamily .keys()

dict_keys(['child_1', 'child_2', 'child_3'])

In [5]:
myfamily .values()

dict_values([{'name': 'Emily', 'Year': 2004}, {'name': 'Tobias', 'Year': 2007}, {'name': 'Linus', 'Year': 2011}])

In [6]:
myfamily["child_1"]

{'name': 'Emily', 'Year': 2004}

In [7]:
myfamily["child_2"] .items()

dict_items([('name', 'Tobias'), ('Year', 2007)])

In [12]:
myfamily["child_2"] .keys()

dict_keys(['name', 'Year'])

In [10]:
myfamily["child_2"] .values()

dict_values(['Tobias', 2007])

In [13]:
myfamily["child_2"]["name"]

'Tobias'

In [14]:
myfamily = {"child_1" : {"name" : ("Emily","Rose"), "year": 2004},
            "child_2" : {"name" : "Tobias", "year": 2007},
            "child_3" : {"name" : "Linus", "year": 2011}}

In [15]:
myfamily["child_1"]

{'name': ('Emily', 'Rose'), 'year': 2004}

In [16]:
myfamily["child_1"]["name"][0]

'Emily'

In [17]:
myfamily = {{"name" : ("Emily","Rose"), "year": 2004} : "child_1"}   # key olarak dict atayamıyoruz..

TypeError: unhashable type: 'dict'

# SETS

In [18]:
# mutable
# iterable

In [19]:
set()
{}

{}

In [20]:
set("hello")

{'e', 'h', 'l', 'o'}

In [21]:
set("Techpro")

{'T', 'c', 'e', 'h', 'o', 'p', 'r'}

In [22]:
print(set("Techpro"))

{'r', 'p', 'T', 'c', 'h', 'o', 'e'}

In [23]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [24]:
{"blue", "green", "yellow", "blue", "black", "green"}

{'black', 'blue', 'green', 'yellow'}

In [25]:
{"mikail", 25, True, 3.14, [1,2,3], (4,5,6)} # kümeler içinde liste barındırmaz

TypeError: unhashable type: 'list'

In [26]:
{"mikail", 25, True, 3.14, (4,5,6)} # kümeler içlerinde tuple barındırabilir

{(4, 5, 6), 25, 3.14, True, 'mikail'}

In [27]:
{"mikail", 25, True, 3.14, (4,5,6), {"name": "sedat"}}  # kümeler içinde dict barındırmaz

TypeError: unhashable type: 'dict'

In [28]:
{"mikail", 25, True, 3.14, (4,5,6), {"name", "sedat"}}   # kümeler içinde küme barındırmaz

TypeError: unhashable type: 'set'

In [29]:
empty_set = set() # boş küme oluşturmanın tek yolu
empty_set

set()

In [30]:
set("Sedat", "Techpro")

TypeError: set expected at most 1 argument, got 2

In [31]:
liste_1 = ["kalem", "silgi", "kağıt", "kalem_ucu"]
liste_2 = ["silgi", "defter", "kağıt"]

In [32]:
liste_1 + liste_2

['kalem', 'silgi', 'kağıt', 'kalem_ucu', 'silgi', 'defter', 'kağıt']

In [38]:
liste_1 = ["kalem", "silgi", "kağıt", "kalem_ucu"]
liste_2 = ["silgi", "defter", "kağıt"]

In [35]:
type(liste_1)

set

In [36]:
type(liste_2)

set

In [39]:
set(liste_1 + liste_2)

{'defter', 'kalem', 'kalem_ucu', 'kağıt', 'silgi'}

In [41]:
set_1 = {1, False, True, 1.5, 0.0, 3, 5}
set_1

{False, 1, 1.5, 3, 5}

In [47]:
list(set_1)
set_1 = list(set_1)
set_1

[False, 1, 1.5, 3, 5]

In [48]:
len(set_1)

5

In [49]:
for i in set_1:
    print(i)

False
1
1.5
3
5

# Union, Intersection, Difference

In [50]:
a = set("suzan")
b = set("yavuz")

In [51]:
a

{'a', 'n', 's', 'u', 'z'}

In [52]:
b

{'a', 'u', 'v', 'y', 'z'}

In [53]:
a .union(b)

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [54]:
b .union(a)

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [55]:
a | b

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [56]:
a

{'a', 'n', 's', 'u', 'z'}

In [57]:
b

{'a', 'u', 'v', 'y', 'z'}

In [58]:
a .intersection(b)

{'a', 'u', 'z'}

In [59]:
b .intersection(a)

{'a', 'u', 'z'}

In [60]:
a & b

{'a', 'u', 'z'}

In [61]:
a .difference(b)

{'n', 's'}

In [62]:
b .difference(a)

{'v', 'y'}

In [63]:
a - b

{'n', 's'}

In [64]:
b - a

{'v', 'y'}

In [65]:
set_3 = set("fıstık")
set_4 = set("fındık")

In [66]:
set_3

{'f', 'k', 's', 't', 'ı'}

In [67]:
set_4

{'d', 'f', 'k', 'n', 'ı'}

In [68]:
set_3 ^ set_4

{'d', 'n', 's', 't'}

In [69]:
set_3 .symmetric_difference(set_4)

{'d', 'n', 's', 't'}

In [70]:
set_4 .symmetric_difference(set_3)

{'d', 'n', 's', 't'}

# basic operations with sets

## clear()

In [71]:
set_3 .clear()

In [72]:
set_3

set()

## remove()

In [73]:
a

{'a', 'n', 's', 'u', 'z'}

In [74]:
a .remove("a")

In [75]:
a

{'n', 's', 'u', 'z'}

In [76]:
a .remove("s")

In [77]:
a

{'n', 'u', 'z'}

## pop()

In [79]:
help(set.pop)  # random eleman siler

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [80]:
b

{'a', 'u', 'v', 'y', 'z'}

In [81]:
b .pop()

'v'

In [82]:
b

{'a', 'u', 'y', 'z'}

## add()

In [83]:
set_3 .add("a")  # sadece 1 eleman eklemek için kullanılır

In [84]:
set_3

{'a'}

## update()

In [86]:
set_3 .update("b")  # birden fazla eleman eklemek için kullanılır

In [87]:
set_3

{'a', 'b'}

In [88]:
my_set = {1, 2, 3}

In [90]:
type(my_set)

set

In [92]:
my_set .update([4,5]) # list olarak ekleyince de set olarak ekleyince de aynısını yapıyor neden ??

In [93]:
my_set

{1, 2, 3, 4, 5}

In [94]:
my_set .update({6, 7})   # list olarak ekleyince de set olarak ekleyince de aynısını yapıyor neden ??

In [95]:
my_set

{1, 2, 3, 4, 5, 6, 7}

## issubset()

In [96]:
set_5 = set("selin")
set_6 = set("enes")

In [97]:
set_5

{'e', 'i', 'l', 'n', 's'}

In [98]:
set_6

{'e', 'n', 's'}

In [99]:
set_5 .issubset(set_6)

False

In [100]:
set_6 .issubset(set_5)

True

In [101]:
set_7 = set("sine")
set_8 = set("enis")

In [102]:
set_7 .issubset(set_8)

True

In [104]:
set_8 .issubset(set_7)

True