In [1]:
liste = [2, 3, 5, 4, 1]

In [2]:
liste .sort()

In [3]:
liste

[1, 2, 3, 4, 5]

In [4]:
liste .sort(reverse=True)

In [5]:
liste

[5, 4, 3, 2, 1]

In [6]:
liste .append(0)

In [7]:
liste

[5, 4, 3, 2, 1, 0]

In [8]:
liste .sort()

In [9]:
liste

[0, 1, 2, 3, 4, 5]

In [10]:
liste .append([6, 7])

In [12]:
liste

[0, 1, 2, 3, 4, 5, [6, 7]]

In [13]:
len(liste)

7

In [15]:
liste .extend([8,9])

In [16]:
liste

[0, 1, 2, 3, 4, 5, [6, 7], 8, 9]

In [18]:
liste_1 = [4, 5, 6, 9, 85, 23, 65, 47, 32, 91]
liste_1

[4, 5, 6, 9, 85, 23, 65, 47, 32, 91]

In [27]:
x = 0

min_eleman = liste_1[0]

max_eleman = liste_1[0]

while x < len(liste_1):
    if max_eleman < liste_1[x]:
        max_eleman = liste_1[x]
    x += 1
print("Listenin en büyük elemanı:", max_eleman)

while x < len(liste_1):
    if min_eleman > liste_1[x]:
        min_eleman = liste_1[x]
    x += 1
print("Listenin en küçük elemanı:", min_eleman)

Listenin en büyük elemanı: 91
Listenin en küçük elemanı: 4

# for

In [29]:
for i in "Techpro":
    print(i)        # for döngüsü iterable lar ile calısır

T
e
c
h
p
r
o

In [30]:
for i in "Techpro":
    print(i, "-", i * 2)

T - TT
e - ee
c - cc
h - hh
p - pp
r - rr
o - oo

In [31]:
i

'o'

In [45]:
liste_2 = [1, 2, 3, 4, 5]

for i in liste_2:
    print(f"{i:<2} nin karesi: {(i ** 2):<1}" )

1  nin karesi: 1
2  nin karesi: 4
3  nin karesi: 9
4  nin karesi: 16
5  nin karesi: 25

In [52]:
liste_2 = [1, 2, 3, 4, 5]

x = 0

while x < len(liste_2):
    print(f"{liste_2[x]:<1} in karesi: {(liste_2[x] ** 2)}")
    x += 1

1 in karesi: 1
2 in karesi: 4
3 in karesi: 9
4 in karesi: 16
5 in karesi: 25

In [57]:
liste_3 = (1, 2, 3, 4, 5)

for i in liste_3:
    print(f"{i} nin karesi: {i ** 2}", end= " -- ")

1 nin karesi: 1 -- 2 nin karesi: 4 -- 3 nin karesi: 9 -- 4 nin karesi: 16 -- 5 nin karesi: 25 --

In [58]:
for i in 1543: # int lar iterable olmadığı için for döngüsü çalıştırmaz
    print(i)

TypeError: 'int' object is not iterable

In [59]:
"e" in "hello"

True

In [60]:
"a" in "hello"

False

In [62]:
isimler_listesi = ["irem", "cihan", "bahar", "metehan"]

for i in isimler_listesi:
    print(i. capitalize())

Irem
Cihan
Bahar
Metehan

In [63]:
for i in "Techpro":
    print(i, end= "-")

T-e-c-h-p-r-o-

In [77]:
empty_str = ""

for i in "Techpro":
    empty_str += i + "-"

print(empty_str .rstrip("-"))

T-e-c-h-p-r-o

In [78]:
dict_1 = {"name": "dilek", "age": 26, "job": "data scientist"}
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data scientist'}

In [79]:
for i in dict_1:
    print(i)

name
age
job

In [80]:
dict_1 .values()

dict_values(['dilek', 26, 'data scientist'])

In [81]:
for i in dict_1 .values():
    print(i)

dilek
26
data scientist

In [84]:
dict_1 .items()

dict_items([('name', 'dilek'), ('age', 26), ('job', 'data scientist')])

In [83]:
for i in dict_1 .items():
    print(i)

('name', 'dilek')
('age', 26)
('job', 'data scientist')

In [87]:
for i, j in dict_1 .items():
    print(i, j, sep= "**")

name**dilek
age**26
job**data scientist

In [117]:
for i, j in dict_1 .items():               
    print(f"key: {i:<5} , values: {j}")

key: name  , values: dilek
key: age   , values: 26
key: job   , values: data scientist

In [98]:
dict_2 = {"name": "dilek", "surname": "yılmaz" ,"age": 26, "job": "data_scientist"}
dict_2

{'name': 'dilek', 'surname': 'yılmaz', 'age': 26, 'job': 'data_scientist'}

In [128]:
for i, j in dict_2 .items():                       
    print(f"key : {i:<9}, value : {j}")

key : name     , value : dilek
key : surname  , value : yılmaz
key : age      , value : 26
key : job      , value : data_scientist

In [131]:
for i, j in dict_2.items():
    print(f"key: {i:>10}, value: {j}")

key:       name, value: dilek
key:    surname, value: yılmaz
key:        age, value: 26
key:        job, value: data_scientist

In [134]:
for i, j in dict_2.items():
    print(f"key: {i:^10}, value: {j:^15}")   # ^ ifadesi ortalıyor

key:    name   , value:      dilek
key:  surname  , value:     yılmaz
key:    age    , value:       26
key:    job    , value: data_scientist

In [ ]:
# çalıştırma sonsuz döngü
liste = ["sonsuz döngü"]
for i in liste:
    print(i)
    liste.append(5)

In [135]:
"techpro" .center(20)

'      techpro       '

In [136]:
"techpro" .ljust(20)

'techpro             '

In [138]:
"techpro" .rjust(20)

'             techpro'

In [140]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [142]:
for i in range(1,51):
    print(f"{i:<2} : Kıyamam ki")

1  : Kıyamam ki
2  : Kıyamam ki
3  : Kıyamam ki
4  : Kıyamam ki
5  : Kıyamam ki
6  : Kıyamam ki
7  : Kıyamam ki
8  : Kıyamam ki
9  : Kıyamam ki
10 : Kıyamam ki
11 : Kıyamam ki
12 : Kıyamam ki
13 : Kıyamam ki
14 : Kıyamam ki
15 : Kıyamam ki
16 : Kıyamam ki
17 : Kıyamam ki
18 : Kıyamam ki
19 : Kıyamam ki
20 : Kıyamam ki
21 : Kıyamam ki
22 : Kıyamam ki
23 : Kıyamam ki
24 : Kıyamam ki
25 : Kıyamam ki
26 : Kıyamam ki
27 : Kıyamam ki
28 : Kıyamam ki
29 : Kıyamam ki
30 : Kıyamam ki
31 : Kıyamam ki
32 : Kıyamam ki
33 : Kıyamam ki
34 : Kıyamam ki
35 : Kıyamam ki
36 : Kıyamam ki
37 : Kıyamam ki
38 : Kıyamam ki
39 : Kıyamam ki
40 : Kıyamam ki
41 : Kıyamam ki
42 : Kıyamam ki
43 : Kıyamam ki
44 : Kıyamam ki
45 : Kıyamam ki
46 : Kıyamam ki
47 : Kıyamam ki
48 : Kıyamam ki
49 : Kıyamam ki
50 : Kıyamam ki