In [11]:
for i in "Techpro"[:-1]:
    print(i + "-", end= "")
print("Techpro"[-1])

T-e-c-h-p-r-o

In [1]:
"Techpro"[:-1]

'Techpr'

In [12]:
times = int(input("How many times should i say 'i love you' "))

for i in range(times):
  print('i love you ')

i love you
i love you
i love you

In [3]:
import time

sayac = 0

while True:

    time .sleep(1)

    sayı = int(input("Lütfen 1 ile 9 arasında bir sayı giriniz"))

    sayac += 1
    
    if sayı < 1 or sayı > 9:

        print("Yanlış aralıkta bir sayı girdiniz. Lütfen tekrar deneyiniz")
        if sayac == 3:
            print("3 hakkınız dolmuştur")
            break
        
    else:
         print(f"{sayı} sayısının çarpım tablosu:")
         for i in range(1, 11):
           
            print(f"{sayı} x {i:<3}:", sayı * i)
         break

9 sayısının çarpım tablosu:
9 x 1  : 9
9 x 2  : 18
9 x 3  : 27
9 x 4  : 36
9 x 5  : 45
9 x 6  : 54
9 x 7  : 63
9 x 8  : 72
9 x 9  : 81
9 x 10 : 90

In [20]:
toplam = 0

for i in range(1, 51):
    toplam += i

print(toplam)

1275

In [21]:
sum(range(1,51))

1275

In [22]:
sum([1, 2, 3, 4, 5])

15

In [23]:
sum((1, 2, 3, 4, 5))

15

In [24]:
sum({1, 2, 3, 4, 5})

15

In [25]:
sum([True, 2, 3.5, 4, 5])

15.5

In [6]:
sum([True, 2, 3.5, 4, 5], 500)# default degeri 100 yaptık. Onun üzerine topladı...

515.5

In [28]:
toplam = 0 

for i in range(2, 51, 2):
    toplam += i

print(toplam)

650

In [29]:
sum(range(2, 51, 2))

650

In [30]:
toplam = 0 

for i in range(2, 51):
    if i % 2: 
        continue
    else:
        toplam += i
print(toplam)

650

# break continue

In [31]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [34]:
for i in liste_1:
    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [35]:
for i in liste_1:
    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

# zip()

In [36]:
# Çalıştıkları iterable olmak zorunda

In [37]:
a = ["apple", "orange", "lemon"]
b = [1, 2, 3]

In [38]:
zip(a, b)

In [40]:
list(zip(a, b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [42]:
list(zip(b, a))

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [43]:
dict(zip(b, a))

{1: 'apple', 2: 'orange', 3: 'lemon'}

In [44]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"

In [48]:
list(zip(x, y, z))   # len i en küçük olana göre işlem yapar

[('T', 'C', 'A'), ('e', 'i', 'y'), ('c', 'h', 'ş'), ('h', 'a', 'e')]

In [49]:
meyveler = ["apple", "orange", "apple"]
adet = [1, 2, 3]

In [50]:
list(zip(meyveler, adet))

[('apple', 1), ('orenge', 2), ('apple', 3)]

In [52]:
dict(zip(meyveler, adet)) # bizim tanıdığımız python 1 den fazla aynı key olduğu için update olarak düşünüp
                          # son apple ı kabul etti, key olarak...

{'apple': 3, 'orenge': 2}

In [55]:
dict(zip(adet, meyveler))   # burada 1 den fazla aynı value olabilir. Sorun yok....

{1: 'apple', 2: 'orenge', 3: 'apple'}

In [8]:
name = ["irem", "betül", "Tülay"]
age = [25, 26, 27]
job = ["data_scientist", "python_developer", "data_analyst"]

In [9]:
liste_2 = list(zip(name, age, job))

In [63]:
liste_2

[('irem', 25, 'data_scientist'),
 ('betül', 26, 'python_developer'),
 ('Tülay', 27, 'data_analyst')]

In [10]:

for item in liste_2:
    print(item)

('irem', 25, 'data_scientist')
('betül', 26, 'python_developer')
('Tülay', 27, 'data_analyst')

In [64]:
list(zip(name, age, job))

[('irem', 25, 'data_scientist'),
 ('betül', 26, 'python_developer'),
 ('Tülay', 27, 'data_analyst')]

In [70]:
for i, j, k in list(zip(name, age, job)):
    print(f"name: {i:<6}, age: {j:<3}, job: {k}")

name: irem  , age: 25 , job: data_scientist
name: betül , age: 26 , job: python_developer
name: Tülay , age: 27 , job: data_analyst

In [13]:
for i, j in list(zip(name, age, job)):   # burada hata alırız. Komple tuple kabul eder. Yada paketi parcalayınca 2 tane
                                         # beklerken daha fazlası var... too many values to unpack
    print(f"name: {i}, age: {j}")

ValueError: too many values to unpack (expected 2)

In [12]:
k

'data_analyst'

In [77]:
for i, j, k in list(zip(name, age, job)):  # burada hata vermez. paketi düzgün parcaladık. k yı atadık. ama kullanmadık...
    print(f"name: {i:<5}, age: {j:>2}")

name: irem , age: 25
name: betül, age: 26
name: Tülay, age: 27

In [78]:
meyveler = ("apple", "orange", "apple")
adet = (1, 2, 3)

In [79]:
zip(a,b)

In [80]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [81]:
x = "Techpro"
y = "Cihan"
z = "Ayşe"
w= 12345

zip(x,y,z,w)  # w iterable degil

TypeError: 'int' object is not iterable

# enumarate

In [82]:
name

['irem', 'betül', 'Tülay']

In [83]:
enumerate(name)  # numaralandırır

In [84]:
list(enumerate(name))

[(0, 'irem'), (1, 'betül'), (2, 'Tülay')]

In [86]:
list(enumerate(name, 100))   # enumerate içerisine (name, 100) şeklinde yazmalıyız

[(100, 'irem'), (101, 'betül'), (102, 'Tülay')]

In [87]:
number_list = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [89]:
kayıp_sayılar = []

for i in range(min(number_list), max(number_list)):
    if i in number_list:
        continue
    else:
        kayıp_sayılar .append(i)
print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [90]:
kayıp_sayılar = []

for i in range(min(number_list), max(number_list)):
    if i not in number_list:
        kayıp_sayılar .append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [92]:
print(number_list)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [93]:
set_1 = set(number_list)

In [94]:
max(number_list)

55

In [95]:
min(number_list)

5

In [96]:
set_2 = set(range(5,55))

In [99]:
print(set_2)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54}

In [100]:
set_2 - set_1

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

Ödeviniz:
Bir markete gittiniz. Markette her ürünün bir kod numarası var.
1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde.
Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız.
Çıktı:
Teşekkür Ederiz...
Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

In [115]:
import time

ürünler = {1: 'Elma', 2: 'Portakal', 3: 'Çilek', 4: 'Yumurta', 5: 'Havuç', 6: 'Armut'}

sepet = []

while True:
    time .sleep(1)
    x = input("Lütfen istediğiniz ürün kodunu yazınız. Çıkmak için q tuşuna basınız")
    if x .lower() == "q":
        print("Teşekkür ederiz")
        print(f"Sepetinizdeki ürünler: {sepet}")
        break
    else:
        x = int(x)
        sepet .append(ürünler[x])
        print(f"{ürünler[x]} sepete eklendi.")

Armut sepete eklendi.
Havuç sepete eklendi.
Portakal sepete eklendi.
Teşekkür ederiz
Sepetinizdeki ürünler: ['Armut', 'Havuç', 'Portakal']