In [3]:
print("String Concatenation is done with the "+" sign.")   # sebebi sonra
# "+" yok oluyor

String Concatenation is done with the  sign.

In [4]:
print("'Techpro'")

'Techpro'

In [9]:
print(""""'""")           #syntax hata = noktalama hatası

"'

In [7]:
print("""""""")    # python soldan saga doğru okur. eş arar

In [10]:
print("""Techpro""""Gül"'hey')

TechproGülhey

In [13]:
print(""""2""")       # bir çift tırnak daha koyarsan hata alırsın

"2

# pep8 Kuralları

3 + 6  = örn, kodların daha anlaşılır olması için
Bir satırda 79 karakterden fazla olmasın

In [15]:
print("""Bugün python dersinin ikinci günü
      derse başlarken hoca başladı bir tırnak mevzusuna bir türlü 
      bitmedi. inşallah başıma bela olmaz""")  # pep8 derki; bir 
# satırda 79 karakterden fazlası olmasın

Bugün python dersinin ikinci günü
      derse başlarken hoca başladı bir tırnak mevzusuna bir türlü
      bitmedi. inşallah başıma bela olmaz

# comment

In [17]:
3 + 5 # 3 ile 5 in toplamıdır.

8

In [18]:
3 + 5 # 3 ile 5 açıklayıcı bir comment değil !!

8

# Variables

In [19]:
print("Techpro education")

Techpro education

In [20]:
course = "Techpro education"

In [22]:
print(course)   # course = variables, "Techpro education" = values

Techpro education

In [29]:
name = "Mustafa"

In [30]:
print(name)   # soldan sağa yukarıdan aşağıya bakar python

Mustafa

In [31]:
age_1 = 35
print(age_1)

35

In [33]:
name_1 = "Orkun"
name2 = "Serhan"     # name_1 daha usefull

In [34]:
print(name_1)
print(name2)

Orkun
Serhan

In [35]:
pi_number = 3.14

In [37]:
pi-number = 3.15  # - kabul etmiyor

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2537486911.py, line 1)

In [40]:
name_3 = "Emre"
4_name = "Mikail"   # Değişken tanımlarken numeric karakterler 
# başta olamaz

SyntaxError: invalid decimal literal (3423773309.py, line 2)

In [41]:
name_5 ="Aytaç"
name_6 = "Erkan"
age_3 = 33

In [42]:
print(name_6, name_5, age_3)

Erkan Aytaç 33

In [43]:
name_7, name_8 = "Mustafa", "Ceren"

In [44]:
print(name_7)

Mustafa

In [53]:
print(name_7, name_8)

Mustafa Ceren

In [55]:
name_9, name_10 = "Kadir, Betül"   # hatayı biliyosun :)

ValueError: too many values to unpack (expected 2)

In [58]:
name_11, name_12 = "Sümeyye", "Sümeyye"

In [59]:
name_13 = name_14 = "Ahmet"

In [60]:
print(name_13, name_14)

Ahmet Ahmet

In [61]:
first_name = "Sedat"
last_name = "Aslan"

In [63]:
f_n = "Sedat"
l_n = "Aslan"     # kısaltma yazarken de anlaşılır olmalı

# data types

In [69]:
"hello world"  #string    # hello world str diye gösteriyor altta

'hello world'

In [70]:
type("35")

str

In [67]:
"35" #string

'35'

In [68]:
type("hello world")

str

In [71]:
type(name)

str

In [72]:
name

'Mustafa'

In [73]:
age_4 = 25

In [74]:
type(age_4)

int

In [75]:
negative_number = -20

In [76]:
type(negative_number)

int

In [77]:
kesirli_sayı = 5.4

In [79]:
type(kesirli_sayı)

float

In [80]:
type(pi_number)

float

In [81]:
type(2.4)

float

In [83]:
pi_number_2 = 3,2

In [86]:
type(pi_number_2)   # 8. hafta konusu

tuple

In [87]:
type(10.25)

float

In [89]:
1.000.000   # ilk nokta bunu float yapar, ikinci nokta hata verir

SyntaxError: invalid syntax (1692276562.py, line 1)

# boolean

In [95]:
type(False)   # birşeyin yoklugundan bahsederken
# matematiksel karşılığı sıfır() dır.

bool

In [91]:
type(True)    # birşeyin varlığından bahsederken  
# matematisel karşılığı bir(1) dir.

bool

In [93]:
type(false)    # F büyük olmalı

NameError: name 'false' is not defined

In [1]:
araba = "renault"

In [2]:
print(araba)

renault

In [3]:
del araba

In [4]:
print(araba)

NameError: name 'araba' is not defined

In [5]:
araba_2 = "renault"

In [6]:
print(araba_2)

renault

In [8]:
araba_2 = "opel"

In [9]:
print(araba_2)

opel

In [10]:
arabanin_yasi = 3

In [11]:
arabanin_kazasi = False

In [12]:
arabanin_kazasi_2 = "False"

In [13]:
arabanin_kilometresi = 1250.4

In [14]:
type(arabanin_yasi)

int

In [15]:
type(arabanin_kazasi)

bool

In [16]:
type(arabanin_kazasi_2)

str

In [17]:
type(arabanin_kilometresi)

float