# Pseudocode

start
declare (kenar_1, kenar_2, hipotenüs)
input kenar_1
input kenar_2
set hipotenüs  ((kenar_1 ** 2) + (kenar_2 ** 2)) ** (0.5)
print hipotenüs
end

# Python Code

In [1]:
kenar_1 = 5
kenar_2= 12
hipotenüs = ((kenar_1 ** 2) + (kenar_2 ** 2)) ** (0.5)
print("Dik üçgenin hipotenüsü =", hipotenüs)

Dik üçgenin hipotenüsü = 13.0

In [2]:
kenar_1 = 9
kenar_2 = 15
cevre = (kenar_1 + kenar_2) * 2 
print("Dikdörtgenin çevresi =", cevre)

Dikdörtgenin çevresi = 48

In [3]:
kenar_1 = 9 
kenar_2 = 15
alan = (kenar_1 * kenar_2)
print("Dikdörtgenin alanı =", alan)

Dikdörtgenin alanı = 135

In [4]:
kenar_1 = 7
kenar_2 = 24
hipotenüs = ((kenar_1 ** 2) + (kenar_2 ** 2)) ** (0.5)
cevre = (kenar_1 + kenar_2 + hipotenüs)
print("Dik üçgenin çevresi=", cevre)

Dik üçgenin çevresi= 56.0

In [5]:
kenar_1 = 7
kenar_2 = 24
alan = (kenar_1 * kenar_2) / 2 
print("Diküçgenin alanı =", alan)

Diküçgenin alanı = 84.0

In [6]:
r = 10
pi = 3.14
alan = pi * (r ** 2)
print("Yarı çapı 10 olan dairenin alanı =", int(alan))

Yarı çapı 10 olan dairenin alanı = 314

In [7]:
kenar_1 = 15
kenar_2 = 20
cevre = 2 * (kenar_1 + kenar_2)
print("Kenar uzunlukları 15 ve 10 olan dikdörtgenin çevresi =", cevre)

Kenar uzunlukları 15 ve 10 olan dikdörtgenin çevresi = 70

In [8]:
r = 5
pi = 3.14
hacim = 4 / 3 * pi * (r ** 3)
print("Yarıçapı 5 olan kürenin hacmi =", int(hacim))

Yarıçapı 5 olan kürenin hacmi = 523

In [12]:
r = yariCap = 5
h = yükseklik = 7
pi = 3.14
alan = 2 * pi * r * (r + h)
print("Yarıçapı 5, yüksekliği 7 olan silindirin alanı=", int(alan))

Yarıçapı 5, yüksekliği 7 olan silindirin alanı= 376

In [13]:
kenar = 12
alan = kenar ** 2
print("Kenar uzunluğu 12 olan karenin alanı=", alan)

Kenar uzunluğu 12 olan karenin alanı= 144

In [14]:
kenar_1 = a = 7
kenar_2 = b = 8 
kenar_3 = c = 9
cevre = kenar_1 + kenar_2 + kenar_3
s = cevre / 2 
alan = (s * (s - a) * ( s - b) * (s - c)) ** (0.5)
print("Kenar uzunlukları; 7, 8, 9 olan üçgenin alanı =", int(alan))

Kenar uzunlukları; 7, 8, 9 olan üçgenin alanı = 26

In [15]:
fahrenheit = F = 68
celsius = (F - 32) / 1.8
print("68 fahrenheit derecesinin celcius karşılığı =", int(celsius))

68 fahrenheit derecesinin celcius karşılığı = 20

In [16]:
kilometre = km = 120
mil = km / 1.609344
print("120 km =", int(mil), "mildir")

120 km = 74 mildir

In [18]:
anapara = 1000
faiz = 0.05
vade = 3 
faiz_hesabı = anapara * faiz * vade
print("İşlemin faiz hesabı =", int(faiz_hesabı), "şeklindedir")

İşlemin faiz hesabı = 150 şeklindedir

In [21]:
a = 1
b = -5
c = 6
kök_1 = (-b + ((b ** 2 - (4 * a * c) ) ** 0.5)) / 2 * a 
kök_2 = (-b - ((b ** 2 - (4 * a * c) ) ** 0.5)) / 2 * a 
print("Bu ikinci dereceden oluşan denklemin kökleri=", kök_1, kök_2 )

Bu ikinci dereceden oluşan denklemin kökleri= 3.0 2.0

# Type Conversion

In [5]:
age = 32
type(age)

int

In [6]:
str(age)

'32'

In [7]:
type(age)

int

In [8]:
age = str(age)

In [9]:
type(age)

str

In [27]:
str(3.14)

'3.14'

In [28]:
str(True)

'True'

In [2]:
pi = str(3.14)

In [3]:
type(pi)

str

In [1]:
str(True)

'True'

#### str to int

In [34]:
age_1 = "33"

In [36]:
type("33")

str

In [37]:
int(age_1)

33

In [38]:
type(age_1)

str

In [39]:
age_1 = int(age_1)

In [40]:
type(age_1)

int

In [41]:
2024 - age_1

1991

In [43]:
2024 - int(age_1)    # age_1 to int yukarıda yapılmasaydı bile bir kere kullanacaksan anlık burda 
# yapmak daha mantıklı

1991

#### str to float

In [44]:
float("3.14")

3.14

In [46]:
float("3.14a")     # floata benzemek zorunda

ValueError: could not convert string to float: '3.14a'

#### float to int, int to float

In [47]:
int(5.4)

5

In [48]:
int(5.6)

5

In [49]:
int(5.99999999999999)    # int . dan sonrasını siler. 16. hane istisnası var ( unut :)

5

In [50]:
int(22/7)

3

In [51]:
float(5)

5.0

In [53]:
int("3.14")     # int benzemiyor çünkü

ValueError: invalid literal for int() with base 10: '3.14'

#### bool to int, bool to float

In [54]:
int(True), int(False)

(1, 0)

In [55]:
float(True), float(False)

(1.0, 0.0)

In [56]:
str(False), str(True)

('False', 'True')

In [12]:
bool(1.0)

True

In [13]:
bool(1)

True

In [14]:
bool(0.0)

False

In [15]:
bool("")

False

# Arithmetic Oprations

In [10]:
8 * 5     # * = asteriks işareti

40

In [11]:
40 / 10 # bölme işlem sonucu hep float cıkar

4.0

In [60]:
2.4 * 5   # 2.4 floattır

12.0

In [61]:
25 / 3   # division

8.333333333333334

In [62]:
25 // 3    # floor division

8

In [63]:
25 % 4    # modulüs

1

In [64]:
2 ** 3    # çift asteriks, exponentionation

8

In [65]:
25 ** 0.5    # karekök alma

5.0

In [67]:
x = (4+2) ** (4 **(1* 2 / 2) /2)
print(x)                            # ** ın çarpma veya bölmeye göre önceliği vardır

36.0

In [69]:
r = 5
pi = 3.14
alan = pi * r ** 2 
print("Yarıcapı 5 olan dairenin alanı =", int(alan), "dir")

Yarıcapı 5 olan dairenin alanı = 78 dir